:root {
  --primary-color: #f95959;
  --secondary-color: #455d7a;
  --gradient: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

body {
  background: gray;
}

.hero {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-top: 100px;
}

.hero h1 {
  font-size: 58px;
  font-weight: bold;
  padding: 5px;
}

.hero h2 {
  font-size: 38px;
  padding: 5px;
}

.hero a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.btn-light {
  padding: 15px;
  background-color: #f95959;
  border-radius: 10%;
  margin-top: 50px;
  border: 1px solid black;
}
