:root {
  --primary-color: #f95959;
  --secondary-color: #455d7a;
  --gradient: linear-gradient(
    110.6deg,
    rgb(156, 116, 129) -18.3%,
    rgb(67, 54, 74) 16.4%,
    rgb(47, 48, 67) 68.2%,
    rgb(27, 23, 36) 99.1%
  );
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  background: var(--gradient);
  font-family: "Comforter", cursive;
  color: aliceblue;
}

h3 {
  margin-top: 25px;
  padding: 20px;
  font-size: 28px;
}
.row-cat {
  margin: 100px 100px;
}

.box-container,
.container-contact {
  margin: 0;
  padding-top: 10px;
}

.hero-container h1 {
  font-size: 60px;
  font-weight: bold;
  padding: 5px;
  margin: 20px;
  text-align: center;
}

.hero-container h2 {
  color: var(--primary-color);
  font-size: 40px;
  padding: 5px;
  margin: 20px;
  text-align: center;
}

.hero-container h3 {
  color: var(--primary-color);
  font-size: 35px;
  padding: 5px;
  margin: 20px;
  text-align: center;
}

.hero {
  padding: 100px 10px;
}

.hero h1 {
  font-size: 60px;
  font-weight: bold;
  padding: 5px;
  margin: 20px;
  text-align: center;
}

.hero h2 {
  font-size: 35px;
  padding: 5px;
  margin: 20px;
  text-align: center;
}

.hero-box {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.hero-box-2 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.hero-box-3 {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.video {
  display: flex;
  justify-content: center;
}
.video-p {
  text-align: center;
  margin-top: 50px;
  font-size: 25px;
  color: rgb(193, 150, 150);
}
.catcontainer {
  margin: 0;
}
.catcat {
  margin-bottom: 2px;
  padding: 2px;
  border: 1px solid var(--primary-color);
}

.phone,
.email,
.social {
  margin: 0;
}

.btn-light {
  padding: 10px;
  background-color: #f95959;
  border-radius: 10%;
  border: 1px solid black;
}

.btn-light a {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px;
  color: black;
}

.img-fluid {
  border: 1px solid black;
  border-radius: 7%;
  box-shadow: var(--box-shadow);
}

.md-3 {
  font-weight: bold;
}

footer {
  margin-top: 100px;
  background-color: rgba(205, 188, 188, 0.187);
}

.contact {
  margin-top: 310px;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--primary-color);
}

footer.social-links:hover {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  body {
    max-width: none;
  }
  .video {
    display: flex;
    justify-content: center;
  }
  .video-p {
    font-size: 20px;
  }
  .footer {
    margin-top: 310px;
  }
}
