:root {
  --primary-color: #f95959;
  --secondary-color: #455d7a;
  --gradient: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

body {
  background: gray;
}

h1 {
  font-size: 58px;
  text-align: center;
}

h2 {
  font-size: 38px;
  text-align: center;
}
